*, ::after, ::before {
    box-sizing: border-box;
}

h1, h2 {
    margin: 0;
}

a {
    text-decoration: none;
}

a, button {
    transition: all 0.2s ease-out;
}

body, html {
    margin: 0;
    box-sizing: border-box;
    font-family: PlusJakartaSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Cantarell, Helvetica Neue, Ubuntu, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
}

.container {
    padding-left: 80px;
    padding-right: 80px;
}

.Navbar_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 6;
    height: 80px;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;

    display: flex;
    justify-content: left;
    align-items: center;
}

.Navbar_fixed {
    position: fixed;
    background-color: #ffffff;
    color: black;
    box-shadow: 0 1px 0 #f7f7f7;
}

.Navbar_Searchbar_container {
    width: 630px;
}

.logo_container {
    display: flex;
    width: 180px;;
    height: 50px;

    color: inherit;
    align-items: center;
}



.Navbar_fixed .logo_container:hover {
    color: inherit;
    opacity: 1;
}

.logo_image {
    height: 100%;
    margin-right: 15px;
    border-radius: 7px;
    fill: #07a081;
}

.logo_image > path:nth-child(2) {
    transform: translate(-14px, -11px);
    fill: #fff;
}

.logo_text {
    display: inline-block;
    font-size: 24px;
    color: inherit;
}
.logo_container:hover {
    opacity: .7;
}
.Header_container {
    position: relative;
    padding-top: 80px;
    padding-bottom: 40px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header_image_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 500px;
    z-index: -1;
    background-color: #4d4d4d;
}

.Header_image {
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    opacity: 0.7;
}

.Header_content_container {
    width: 630px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Header_h1 {
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -.02em;

    color: #fff;
    fill: #fff;
}

.Header_Searchbar_container {
    margin-top: 30px;
    width: 100%;
}

.Header_author_container {
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-weight: inherit;
    color: #ffffff;
    font-size: 15px;
    line-height: 22px;
    opacity: .7;
}

.Header_author_container:hover {
    opacity: 1;
}

.Header_author_container > span:nth-child(1) {
    opacity: .6;
}

.Searchbar_form {
    height: 50px;
    display: flex;
    border-radius: 15px;
}


.Searchbar_button {
    height: 100%;
    width: 50px;
    border: 0;
    padding: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #f7f7f7;
    cursor: pointer;
    fill: #7f7f7f;
}

.Searchbar_button:hover {
    fill: #05a081;
}

.Searchbar_input {
    height: 100%;
    width: calc(100% - 50px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #f7f7f7;
    padding: 15px 4px 15px 20px;
    outline: 0;
    color: #7f7f7f;
    font-size: 18px;
    font-family: inherit;
    font-weight: 600;
    background: #f7f7f7;
}

.Searchbar_input:focus {
    border-color: #dfdfe0;
}

.Header_trending_container {
    margin-top: 30px;
    color: hsla(0, 0%, 100%, .7);
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}

.TrendingSuggestions {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.TrendingSuggestions_suggestion {
    display: inline-block;
}

.TrendingSuggestions_suggestion a {
    color: #ffffff;
}

.TrendingSuggestions_suggestion a:hover {
    color: hsla(0, 0%, 100%, .7);;
}

.HomepageHeader_container > h2 {
    line-height: 1;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: -.015em;
    color: #2c343e;
}

.SearchHeader_container {
    color: #2c343e;
    fill: #2c343e;

}

.SearchHeader_container > h2 {
    font-weight: 600;
    font-size: 49px;
    line-height: 65px;
    letter-spacing: -.02em;
    margin-bottom: 30px;
}

.pictures_number_container {
    padding: 0 20px;
    color: #fff;
    border: 1px solid transparent;
    background: #000;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 48px;
    width: fit-content;
    border-radius: 30px;
    margin-bottom: 30px;
}

.pictures_number_container:hover {
    background-color: #2c343e;
}

#pictures_number {
    color: #7f7f7f;
}

.Filters_container {
    width: 100%;
    display: flex;
    height: 50px;
}

.filter {
    position: relative;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    min-width: 0;

    margin-right: 30px;
}

.filter:last-child {
    margin-right: 0;
}

.filter_button {
    width: 100%;
    height: 100%;
    max-height: 50px;
    color: #4a4a4a;;
    background: #fff;
    cursor: pointer;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;

    white-space: nowrap;
    text-decoration: none;
    letter-spacing: 0.01em;
    border: 1px solid #dfdfe0;
    border-radius: 6px;
    outline: none;

    padding: 14px 20px;
    text-transform: none;
    overflow: visible;

    display: flex;
    justify-content: left;
    fill: #bfbfbf;
}

.filter_button:hover {
    border-color: #4a4a4a;
    color: #4a4a4a;
    fill: #4a4a4a;
}

.filter_selected {
    border-color: #4a4a4a;
    color: #4a4a4a;
    fill: #4a4a4a;
    background-color: #ededed;
}

.filter_menu {
    position: absolute;
    bottom: calc(100% + 8px);
    z-index: 5;
    overflow: auto;
    width: 100%;
    height: 175px;


    border: 1px solid #dfdfe0;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 3px 5px 1px rgba(0,0,0,.05);

    margin: 0;
    padding: 0;
    list-style: none;

}

.filter_item {
    border: none;
    border-radius: 0;
    fill: #4a4a4a;
}

.filter_item_selected {
    font-weight: 600;
}

.filter_item:hover {
    background-color: #f3f3f3;
}

.filter_arrow {
    width: 12px;
    color: #dfdfe0;
}

.filter_arrow > svg {
    width: 12px;
}

.filter_value {
    text-align: left;
    width: 100%;
}

.Main_container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.Grid_container {
    display: flex;
    width: 100%;
}

.Column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    min-width: 0;

    margin-right: 30px;
}

.Column:last-child {
    margin-right: 0;
}

.Item_container {
    margin-bottom: 30px;

}

.Item_container:last-child {
    margin-bottom: 0;
}

.Item_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Item_link {
    position: absolute;
    inset: 0;
    width: 100%;
    text-decoration: none;
    background-color: transparent;
}

.Item_buttons_container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15) 2%, transparent, rgba(0, 0, 0, 0.15) 98%);
    pointer-events: none;
}

.Item_button {
    width: 40px;
    height: 40px;
    pointer-events: all;
    border: 0;
    border-radius: 10px;
    position: absolute;
    color: #7f7f7f;
    fill: #7f7f7f;
}

.Item_button:hover {
    background-color: #d9d9d9;
}

.Item_button_download {
    bottom: 15px;
    right: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Item_button_collection {
    top: 15px;
    right: calc(10px + 40px + 15px);
}

.Item_button_like {
    top: 15px;
    right: 15px;
}

.Item_button_user {
    position: absolute;
    bottom: 15px;
    left: 15px;
    height: 40px;
    width: calc(100% - 30px - 10px - 40px);
    display: flex;
    justify-content: left;
    align-items: center;
    pointer-events: all;

    line-height: 1;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -.015em;
    color: #ffffff;
}

.Item_button_user_image_container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    margin-right: 5px;
}
.Loading_container__7S4ir {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 40px;
}


@keyframes Loading_move__yG63v {
    0% {
        left:0
    }
    75% {
        left:110%
    }
    to {
        left:110%
    }
}

.Loading_spinner__7_Kp_ div {

    position: absolute;
    bottom: 10px;
    left: -40px;
    width: 20px;
    height: 20px;
    transform: translateZ(0);
    -webkit-animation: Loading_move__yG63v 2s cubic-bezier(.2,.64,.81,.23) infinite;
    animation: Loading_move__yG63v 2s cubic-bezier(.2,.64,.81,.23) infinite;
    border-radius: 50%;
    background-color: #7f7f7f;

}

.Loading_spinner__7_Kp_ div:nth-child(2) {
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

.Loading_spinner__7_Kp_ div:nth-child(3) {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.Loading_spinner__7_Kp_ div:nth-child(4) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}