.filter {
    position: relative;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    min-width: 0;

    margin-right: 30px;
}

.filter:last-child {
    margin-right: 0;
}

.button {
    width: 100%;
    height: 100%;
    max-height: 50px;
    color: #4a4a4a;;
    background: #fff;
    cursor: pointer;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;

    white-space: nowrap;
    text-decoration: none;
    letter-spacing: 0.01em;
    border: 1px solid #dfdfe0;
    border-radius: 6px;
    outline: none;

    padding: 14px 20px;
    text-transform: none;
    overflow: visible;

    display: flex;
    justify-content: left;
    fill: #bfbfbf;
}

.button:hover {
    border-color: #4a4a4a;
    color: #4a4a4a;
    fill: #4a4a4a;
}

.selected {
    border-color: #4a4a4a;
    color: #4a4a4a;
    fill: #4a4a4a;
    background-color: #ededed;
}

.menu {
    position: absolute;
    bottom: calc(100% + 8px);
    z-index: 5;
    overflow: auto;
    width: 100%;
    height: 175px;


    border: 1px solid #dfdfe0;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 3px 5px 1px rgba(0,0,0,.05);

    margin: 0;
    padding: 0;
    list-style: none;

}

.item {
    border: none;
    border-radius: 0;
    fill: #4a4a4a;
}

.item_selected {
    font-weight: 600;
}

.item:hover {
    background-color: #f3f3f3;
}

.arrow {
    width: 12px;
    color: #dfdfe0;
}

.arrow > svg {
    width: 12px;
}

.value {
    text-align: left;
    width: 100%;
}