.container {
    composes: container from "./index.module.css";
    position: relative;
    padding-top: 80px;
    padding-bottom: 40px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 500px;
    z-index: -1;
    background-color: #4d4d4d;
}

.image {
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    opacity: 0.7;
}

.contentContainer {
    width: 630px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.h1 {
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -.02em;

    color: #fff;
    fill: #fff;
}

.searchbarContainer {
    margin-top: 30px;
    width: 100%;
}

.authorContainer {
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-weight: inherit;
    color: #ffffff;
    font-size: 15px;
    line-height: 22px;
    opacity: .7;
}

.authorContainer:hover {
    opacity: 1;
}

.authorContainer > span:nth-child(1) {
    opacity: .6;
}

.trendingContainer {
    margin-top: 30px;
    color: hsla(0, 0%, 100%, .7);
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}

