.trendingSuggestions {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.suggestion {
  display: inline-block;
}

.suggestion a {
  color: #ffffff;
}

.suggestion a:hover {
  color: hsla(0, 0%, 100%, 0.7);
}
